.login {
    position: relative;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/src/assets/bgImage.svg) no-repeat center;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
}

.login .logo {
    width: max(15vw, 150px);
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.3));
}

.logo-mobile {
    display: none;
}

.login-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    width: 380px;
}

.login-form h2 {
    font-weight: 600;
    color: white;
}

.form-input {
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 6px;
    outline-color: #936EFF;
    font-size: 15px;
}

.login-form button {
    padding: 12px;
    background-color: #936EFF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form button:hover {
    background-color: #7a5edc;
    transform: translateY(-1px);
}

.login-terms {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.login-toggle {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

.login-toggle span {
    font-weight: 600;
    color: #936EFF;
    cursor: pointer;
}

/* ================= Mobile Responsiveness ================= */
@media (max-width: 768px) {
    .login {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 150px;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        min-height: 100vh;
        gap: 0;
        width: 100%;
    }

    .login::before {
        background-position: center;
    }

    .login .logo {
        width: 100px;
        display: block;
        margin: 20 auto 20px auto;
        padding-right: 20px;
        filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.4));
        margin-top: -10px;

    }

    .logo-desktop {
        display: none !important;
    }

    .logo-mobile {
        display: block !important;
    }

    .login-form {
        width: 100%;
        max-width: 300px;
        padding: 25px 20px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin-bottom: 25px;
    }

    .form-input {
        font-size: 15px;
        padding: 12px 15px;
    }

    .login-form button {
        font-size: 16px;
        padding: 12px;
    }

    .login-terms,
    .login-toggle {
        font-size: 13px;
    }
}


@media (max-width: 450px) {
    .login-form {
        padding: 20px 15px;
    }

    .login .logo {
        width: 100px;
        margin: 0 auto 20px auto;
    }


    .form-input {
        font-size: 13px;
    }

    .login-form button {
        font-size: 14px;
        padding: 9px;
    }
}